<div class="jumbotron">
  <h1>MopBeat!</h1>
  <p>You probably haven't heard of our products before. They're hella underground.</p>
</div>

<div id="mopbeat-slides" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#mopbeat-slides" data-slide-to="0" class="active"></li>
    <li data-target="#mopbeat-slides" data-slide-to="1"></li>
    <li data-target="#mopbeat-slides" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("hipster-bathroom-bike.jpg") %>
      <div class="carousel-caption">
        Get a fixie for your fixer-upper.
      </div>
    </div>
    <div class="item">
      <%= image_tag("bathroom-decor-inspiration.jpg") %>
      <div class="carousel-caption">
        Get a fixie for your fixer-upper.
      </div>
    </div>
    <div class="item">
      <%= image_tag("kitchen/sponge.jpg") %>
      <div class="carousel-caption">
        Get a fixie for your fixer-upper.
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#mopbeat-slides" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#mopbeat-slides" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>